/* These rules apply only the tables created by this module in CKEditor. These styles make the table easy to view and enter data into in, but do not reflect how it necessarily looks on the page */

/* Pulls the table off the editor edges and centers it to make it a bit easier to edit */
table.tablesaw {
    width: 95%;
    margin: 0 auto;
}
/* Adds in borders for the TH's and TD's to better denote where to enter data, especially when the table is empty, important because CKeditor has a long list of classes/elements targeting this
 and it's not practical to out-class/element them */
table.tablesaw td {
    border: 1px dotted #d8d8d8 !important;
}
/* Header slightly different to denote it's separate from the body elements */
table.tablesaw th {
    border: 2px solid #d8d8d8 !important;
}